html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.nc-navbar {
    background-color: #0F3874; /* Header background color */
    width: 100%; /* Ensures full width */
    padding: 1vh 2vw; /* Adjust padding as needed */
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Center items vertically */
}

.navbar-content {
    display: flex;
    align-items: center;
    /*gap: 10px;*/
    width: 100%;
    position: relative;
}


.navbar-title {
    color: #E2D5C4;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    position: absolute; /* Position the title absolutely within navbar-content */
    left: 50%;
    transform: translateX(-50%); /* Center the text */
}

.navbar-img{
    border-radius: 100px;
    width: 75px; /* Set a fixed width */
    height: 75px;
    margin-left: 10px;/* Set a fixed height to create a square */
    margin-right: auto; /* Pushes the image to the far left */
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 5vw; /* Adjust font size for smaller screens */
    }
}

.custom-textfield .MuiOutlinedInput-root {
    background-color:#D9D9D9; /* Change this to your desired background color */
    border-radius: 15px;
}

.navbar-brand {
    color: #e2d5c4 !important;
}

.nav-link {
    color: #e2d5c4 !important;
}
.nav-link:visited {
    color: #e2d5c4 !important;
}
.navbar-toggler {
    border: #e2d5c4 solid 1px !important;
}
.navbar-toggler:visited {
    border: #e2d5c4 solid 1px !important;
}

.logout-button{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px !important;
    background-color: #E2D5C4 !important;
    color: #0F3874 !important;
    border-color: #0F3874 !important;
    font-weight: bold !important;
}

.logout-button:hover{
    color: #E2D5C4 !important;
    background-color: rgba(15, 56, 116, 0.6) !important;
    box-shadow: 0 3px 7px #E2D5C4 !important;
}