html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Include padding and border in width */
}

.nc-navbar {
    background-color: #0F3874; /* Header background color */
    width: 100%; /* Ensures full width */
    padding: 1vh 2vw; /* Remove any padding */
    border: none; /* No border */
    box-sizing: border-box;
    display: flex;
    justify-content: center;/* Include padding and border in width */
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 10px;
}


.navbar-title {
    color: #E2D5C4;
    font-size: 2.5vw; /* Responsive font size */
    font-weight: bold;
    text-align: center; /* Center the text */
}

.navbar-img{
    border-radius: 100px;
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 5vw; /* Adjust font size for smaller screens */
    }
}

.custom-textfield .MuiOutlinedInput-root {
    background-color:#D9D9D9; /* Change this to your desired background color */
    border-radius: 15px;
}

.navbar-brand {
    color: #e2d5c4 !important;
}

.nav-link {
    color: #e2d5c4 !important;
}

.navbar-toggler {
    border: #e2d5c4 solid 1px !important;
}