
#CreateAccount{
    background-color: #E2D5C4;
    color: #0F3874;
    border: 1px solid #092247;
}

#CreateAccount:hover {
    background-color: #d1bda2;
    /* background-color: #eae1d5;*/
}

#backButton{
    background-color: #0F3874;
    color: #E2D5C4;
    border: 1px solid #E2D5C4;
}

#backButton:hover {
    background-color: #092247;
}