/* General Layout */
.dashboard-container {
    padding: 0;
    background-color: #d7c5ad;
    height: 100vh;
    width:100vw;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-title {
    font-size: 2rem;
    color: #0F3874;
    margin-bottom: 20px;
}

/* Content Layout */
.dashboard-content {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    /*max-width: 1200px;*/
}

/* Macros Section */
.macros-container {
    flex: 1;
    width: 50vw;
    max-width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2D5C4;
    /*border-radius: 10px;*/
    padding: 20px;
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}

#macros-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

/*.macros-circle {*/
/*    width: 250px; !* Increase the circle's overall size *!*/
/*    height: 250px; !* Keep it a perfect circle *!*/
/*    border: 12px solid #0F3874; !* Make the outline thicker *!*/
/*    border-radius: 50%; !* Ensures the shape remains circular *!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    font-size: 1.2rem;*/
/*    color: #0F3874;*/
/*    margin-bottom: 20px; !* Add spacing below the circle *!*/
/*    position: relative;*/
/*}*/

.macros-circle h2 {
    margin: 0;
    font-size: 1.5rem; /* Make the title slightly larger */
    font-weight: bold;
    color: #0F3874;
    position: absolute;
    top: 15px; /* Adjust the title position */
}

.macros-circle p {
    margin: 10px 0; /* Add spacing between text elements */
    font-size: 1rem;
    color: #0F3874;
}

.calories-summary {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0F3874;
    margin-top: 40px;
}

/* Meals Section */
.meals-container {
    flex: 2;
    background-color: rgba(15, 56, 116, 0.9);
    /*border-radius: 10px;*/
    padding: 20px;
    /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
    width: 50vw;
    max-width: 50vw;
}

.meals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #E2D5C4;
}

/*Remove the arrows for a number type input*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance: none;
}

.add-meal-button {
    background-color: #E2D5C4;
    color: #0F3874;
    border: 2px solid #0F3874;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.add-meal-button:hover {
    /*background-color: #0F3874;*/
    color: #E2D5C4;
    background-color: rgba(15, 56, 116, 0.6);
    box-shadow: 0 3px 7px #E2D5C4;
}

/* Meal Form */
.meal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.meal-form-part{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.meal-input {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Meal List */
.meals-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.meal-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2D5C4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meal-name {
    font-size: 1rem;
    font-weight: bold;
    color: #0F3874;
}

.meal-calories {
    font-size: 1rem;
    font-weight: bold;
    color: #0F3874;
}

/* Dots Menu */
.meal-more-info {
    display: none;
}

.meal-more-info-active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: right;
    width: 100%;
}

.meal-options{
    display: flex;
    gap: 10px;
    justify-content: right;
    width: 100%;
}

.meal-macros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal-macro-item{
    padding: 2px;
}

.dots-menu {
    font-size: 1rem;
    color: #0F3874;
    cursor: pointer;
}

.dots-menu:hover {
    text-decoration: underline;
}
