html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* Your desired background color */
  width: 100%;
  /*background-color: #d7c5ad;*/
  height: 100%; /* Ensure the height covers the full viewport */

}
/*background-image: url('../../public/brand.png');*/
/*background-size: cover;*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
#root {
  min-height: 100%;
  display: flex;
  background-color: #d7c5ad;
  flex-direction: column;

  background-image: url('../public/brand.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  flex: 1; /* Ensures the App component expands to fill available space */
  display: flex;
  flex-direction: column;
  /*background-color: #d7c5ad;*/
}
