body {
  background-color: #d7c5ad; /* Adjust color as needed */
  margin: 0;
  height: 100vh; /* Ensure it takes full viewport height */
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  font-family: 'Arial', sans-serif; /* Optional for consistency */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure it scales */
}